<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="span8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>

<% content_for :scripts do %>
  <%= javascript_include_tag "bootstrap-transition.js" %>
  <%= javascript_include_tag "bootstrap-carousel.js" %>
<% end %>

<div id="myCarousel" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
      <%= image_tag "homepage/pic1.jpg" %>
      <div class="carousel-caption">
        <h2>Do you remember your old geek friends from the university ?!?</h2>
      </div>
    </div>
    <div class="item">
      <%= image_tag "homepage/pic2.jpg" %>
      <div class="carousel-caption">
        <h2>Yeah, I know... time passed by and you forgot them</h2>
      </div>
    </div>
    <div class="item">
      <%= image_tag "homepage/pic3.jpg" %>
      <div class="carousel-caption">
        <h2>But what if they are building the next giant company, and they need your help</h2>
      </div>
    </div>
    <div class="item">
      <%= image_tag "homepage/pic4.jpg" %>
      <div class="carousel-caption">
        <h2><%= link_to "Register", signup_path, class: "btn btn-large btn-primary" %> 
                to keep in touch with them, in a simple and friendly manner</h2>
      </div>
    </div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

<% end %>
